.containerCard{
    width: 140px;
    height: 80%;
   position: relative;
    min-width: 80px;
    margin-bottom: 10px;
    
}

.containerCard img{
    margin-bottom: 10px;
}

.containerCard p{
    font-size: .8rem;
}

.containerCard div{
    height: 17px;
    width: 40px;
    position: absolute;
    padding: 2px 0px;
    top: 5px;
    left: 5px;
    text-align: center;
    background-color: var(--roxo);
    font-size: .7rem;
}

@media(max-width:1035px){
    .containerCard{
       
    }
}