.container{
    max-width: 240px;
    
    height: 200px;
   
    margin: 0px 10px;
}


.imgCardItem{
   
    width: 100%;
    height: 85%;
}

.episodio {
    font-size: .78578rem;
    margin-top: 5px;
}