.container{
    height: 220px;
    width: 70%;
   
    margin-top: 20px;
    margin-left: 71px;
    color: var(--letra);
}

.parteA{
    height: 15%;
    background-color: var(--cabeContainer);
    padding: 15px;
}

.parteB{
    height: 85%;
    background-color: var(--contContainer);
    padding: 10px 0px;
    
}